Source: functracer
Section: devel
Priority: extra
Maintainer: Bruno Abinader <bruno.abinader@indt.org.br>
Build-Depends: debhelper (>= 5), autotools-dev, binutils-dev, libunwind7-dev
Standards-Version: 3.7.2

Package: functracer
Architecture: any
Depends: ${shlibs:Depends}
Description: An Allocation Backtrace Tool
 Functracer is a debugging tool. It gets backtraces of all allocations done in
 ARM/x86 processes. It works with optimized (-O2) code, where debugging symbols
 are available either in the application  binaries themselves, or in separate
 debug files.

Package: functracer-dbg
Section: devel
Architecture: any
Depends: functracer (= ${Source-Version})
Description: An Allocation Backtrace Tool - debug
 Functracer is a debugging tool. It gets backtraces of all allocations done in
 ARM/x86 processes. It works with optimized (-O2) code, where debugging symbols
 are available either in the application  binaries themselves, or in separate
 debug files.
 This package includes the debug symbols.
